/* standard buttons */
.ui-btn{
	padding: 9px 22px !important;
	font-size: 14px;
	border:0;
	&:hover{
		box-shadow: 0 3px 8px 0 rgba(0,0,0,.17);
		opacity: .9;
	}
	&:focus{
		box-shadow: none;
		opacity: .9
	}
}

.ui-round-btn{
	border-radius: 30px !important;
	border-width: 1px;
}

.primary-btn{
	background-color: $primary;
	color: #fff;
	&:hover,&:focus{
		color: #fff;
	}
}

.default-btn{
	background-color: $default;
	color: #fff;
	&:hover,&:focus{
		color: #fff;
	}
}

.info-btn{
	background-color: $info;
	color: #fff;
	&:hover,&:focus{
		color: #fff;
	}
}

.success-btn{
	background-color: $success;
	color: #fff;
	&:hover,&:focus{
		color: #fff;
	}
}

.warning-btn{
	background-color: $warning;
	color: #fff;
	&:hover,&:focus{
		color: #fff;
	}
}

.danger-btn{
	background-color: $danger;
	color: #fff;
	&:hover,&:focus{
		color: #fff;
	}
}

.neutral-btn{
	background-color: transparent;
	color: $neutral;
	&:hover,&:focus{
		box-shadow: none;
		color: $neutral;
	}
}

.btn-outline{
	border: 1px solid $primary;
	color: $primary;
	&:hover,&:focus,&:active{
		box-shadow: none;
		border: 1px solid $primary;
		color: $primary;
		background-color: transparent;
	}
}

/* form inputs */

.form-input{
	background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    height: auto;
    color: #2c2c2c;
    font-size: 14px;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;
    padding: 5px 18px;
    &:focus{
    	box-shadow: none;
    	border: 1px solid $primary;
	    outline: 0!important;
	    color: #2c2c2c;
    }
}
//  radio button & checkbox..
.form-check{
	margin-top: 10px;
    padding-left: 0;
}

.form-check-label{
	display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 26px;
    margin-bottom: 0;
    transition: color .3s linear;

}

.form-check-input{
	opacity: 0;
}

.form-check .form-check-sign:after, .form-check .form-check-sign:before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    cursor: pointer;
    border-radius: 3px;
    top: 0;
    background-color: transparent;
    border: 1px solid #e3e3e3;
    transition: opacity .3s linear;
}

.form-check .form-check-sign:after {
    top: 0;
    text-align: center;
    opacity: 0;
    color: #555;
    border: 0;
    background-color: inherit;
}

.form-check-radio .form-check-sign:after, .form-check-radio .form-check-sign:before {
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 3px;
    padding: 1px;
    transition: opacity .3s linear;
}

.form-check-radio input[type=radio], .form-check-radio input[type=radio]+.form-check-sign:after {
    opacity: 0;
}

.form-check-radio input[type=radio]:checked+.form-check-sign:after {
    width: 4px;
    height: 4px;
    background-color: #555;
    border-color: #555;
    top: 11px;
    left: 11px;
    opacity: 1;
}

.form-check input[type=checkbox]:checked+.form-check-sign:after {
    opacity: 1;
    background-color: $gray;

}


.input-sm{
	padding: 3px 18px;
}

.input-lg{
	padding: 8px 18px;
}

/* round icon */

.round-icon{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-top: 10px;
	i{
		font-size: 21px;
	}
}