//  btn colors
$primary: #f96332;
$default: #888;
$info: #2ca8ff;
$success: #18ce0f;
$warning: #ffb236;
$danger: #ff3636;
$neutral: #f96332; // neutral btn color| background transparent
//  theam colors
$l-gray: hsla(0,0%,87%,.3);
$gray: #eee;
$d-gray: #ebebeb;
$pink: #ea4c89;
$dark-brown: #dd4b39;
// font color
$f-gray: #9a9a9a;
$black: #2c2c2c;

$shadow: 0 5px 35px 0 rgba(0,0,0,.3);
// primary font
$primary-font: 'Montserrat', sans-serif;