<!DOCTYPE html>
<html>
<head>
	<title>basic loan management sysytem</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="csrf_token" content="{{__csrf__}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- Load our React component. -->
	<div id="app"></div>

	<script src="{{ url_for('static', filename='js/vendors.bundle.js') }}"></script>
	<script src="{{ url_for('static', filename='js/home.bundle.js') }}"></script>
</body>
</html>